<!doctype html>
<html>
  <head>
    <title>First Angular App</title>
    <meta charset="utf-8">
  </head>

  <body>
    <div ng-app="myApp">
      <div ng-controller="AvengersCtrl">
	<input type="text" ng-model="search.$" />
	<table>
	  <tr ng-repeat="actor in avengers.cast | filter:search">
	    <td>{{actor.name}}</td>
	    <td>{{actor.character}}</td>
	  </tr>
	</table>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
