<!doctype html>
<html>
  <head>
    <title>First Angular App</title>
    <meta charset="utf-8">
  </head>

  <body>
    <div ng-app="myApp">
      <div ng-controller="FirstCtrl">
	<input type="text" ng-model="data.message" />
	<h1>{{data.message}}</h1>
      </div>

      <div ng-controller="SecondCtrl">
	<input type="text" ng-model="data.message" />
	<h1>{{reversedMessage(data.message)}}</h1>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
